@import 'config';
@import 'utilities';
@import 'item_grid';

body {
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
    line-height: 1.7rem;
}

// General Styling

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $dark-color;

}


ul {
    list-style: none;
}

h2,
h2,
h3 {
    text-transform: uppercase;
}

img {
    width: 100%;
}


// Header

//logo
#logo {
    width: 70px;
    height: 70px;
    color: fff;
    text-transform: uppercase;
}

//Main-Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;

    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: .5;
        transition: border-color .5s;
        font-size: 1.5rem;


        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }

    }
}

// Header
#header {

    &-home {
        background: url('../img/showcase.jpg') no-repeat center center/cover;
        height: 100vh;
        color: white;

        .header-content {
            text-align: center;
            padding-top: 20%;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }

        }
    }

    &-inner {
        background: $bg-image no-repeat 20% 30% / cover;
        height: 5, 5rem;
        border-bottom: 3px solid $main-color;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

}


//Contact Page
#contact {

    &-a {
        .text-fields {
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-areas:
                'name email'
                'subject phone'
                'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;

            .name-input {
                grid-area: name;
            }

            .subject-input {
                grid-area: subject;
            }

            .email-input {
                grid-area: email;
            }

            .phone-input {
                grid-area: phone;
            }

            .message-input {
                grid-area: message;
                height: 100px;
            }

            .text-input {
                padding: .7rem;
                font-size: 1.2rem;
                color: $dark-color;
                font-family: 'Courier Prime', monospace;
                font-weight: 400;
                line-height: 1.7rem;
                border-radius: 5px;
            }

        }

        .btn-dark {

            width: 35%;
            margin-bottom: 1.2rem;
            border-radius: 5px;
        }
    }



    &-b {

        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            color: #fff;
            // border: 1px solid red;
            margin-bottom: 3rem;

        }


    }

    &-c {
        // border: 4px solid red;
        padding: 0;

        h1 {
            // border: 1px solid red;
            text-align: center;
            line-height: 4rem;
            font-size: 3.7rem;
            padding: 0;
            margin: 2rem 0;
            color: #fff;
        }
    }


}



//Footer
#main-footer {
    background: $dark-color;
    color: #fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .lead {
            margin: 0;
            padding: 0;

        }

        .social .fab {
            margin-right: 1rem;
            border: 2px solid #fff;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            line-height: 20px;
            text-align: center;
            padding: 0.5rem;
            color: #fff;

            &:hover {
                background: $main-color;
                // border-color: $main-color;
            }

        }
    }

}


// About Me Section
#about {

    &-a {
        .about-info {
            display: grid;
            grid-template-areas:
                'bioimage bio bio'
                'aw1 aw2 aw3';
            grid-gap: 1.2rem;
            // border: 1px solid red;
            margin-bottom: 4rem;

        }

        //Grid Area
        .bio-image {
            grid-area: bioimage;

        }

        .bio {
            grid-area: bio;
            border-left: 3px solid $main-color;
            padding: 0.8rem;
            // border: 1px solid yellow;

        }

        .award-1 {
            grid-area: aw1;
        }

        .award-2 {
            grid-area: aw2;

        }

        .award-3 {
            grid-area: aw3;

        }

        .award-1 .fas,
        .award-2 .fas,
        .award-3 .fas {
            color: $main-color;
            margin: 1rem;
        }
    }

    //About B
    &-b {
        .progress {
            overflow: hidden;
            height: 20px;
            background: $medium-color;
            border-radius: 5px;
            margin-bottom: 1rem;

            div {
                height: 100%;
                color: #fff;
                background: $main-color;
                text-align: center;

            }
        }
    }

    &-c {
        .about-logos {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            justify-items: center;

            img {
                // display: block;
                width: 50%;
                padding: 0;
                border: solid 1px red;
                object-fit: contain;

            }

        }
    }

    &-d {
        .testimonials {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: .5rem;

            ul {
                list-style: none;
                display: flex;
                align-items: center;
                margin-top: 1rem;

            }

            p {
                border: 1px solid $medium-color;
                padding: .5rem;
                border-radius: 5px;

            }

            img {
                width: 50px;
                border-radius: 50%;
                margin-right: 1rem;
                height: 50%;
            }
        }


    }

}